- hosts: swarm
  become: true
  become_user: root
  tasks:
    - name: ensure network
      docker_network:
        name: "{{ lookup('env', 'SWARM_NETWORK_NAME') | mandatory }}"
        state: present
        driver: overlay
        attachable: yes

    - name: docker login
      docker_login:
        registry: "{{ lookup('env', 'DOCKER_REGISTRY') | mandatory }}"
        username: "{{ lookup('env', 'DOCKER_USER') | mandatory }}"
        password: "{{ lookup('env', 'DOCKER_PASSWORD') | mandatory }}"

    - name: deploy service
      docker_swarm_service:
        name: "{{ lookup('env', 'SWARM_SERVICE_NAME') | mandatory }}"
        state: present
        image: "{{ service_image | mandatory }}"
        resolve_image: yes
        force_update: yes
        networks:
          - "{{ lookup('env', 'SWARM_NETWORK_NAME') | mandatory }}"
          - traefik
        mounts:
          - type: volume
            source: "{{ lookup('env', 'SWARM_UPLOAD_VOLUME') | mandatory }}"
            target: "{{ lookup('env', 'SWARM_UPLOAD_TARGET') | mandatory }}"
            readonly: no
        publish:
          - mode: ingress
            published_port: "{{ lookup('env', 'SWARM_PORT') | mandatory }}"
            target_port: "{{ lookup('env', 'PORT') | mandatory }}"
        replicas: "{{ lookup('env', 'SWARM_REPLICAS') | default(1, true) }}"
        limits:
          cpus: "{{ lookup('env', 'SWARM_LIMIT_CPUS') | default(0.5, true) }}"
          memory: "{{ lookup('env', 'SWARM_LIMIT_MEMORY') | default('128M', true) }}"
        reservations:
          cpus: "{{ lookup('env', 'SWARM_RESERVE_CPUS') | default(0.1, true) }}"
          memory: "{{ lookup('env', 'SWARM_RESERVE_MEMORY') | default('64M', true) }}"
        labels:
          traefik.enable: "true"
          traefik.docker.network: traefik
          traefik.http.services.web.loadbalancer.server.port: "{{ lookup('env', 'PORT') | mandatory }}"
          traefik.http.routers.web.rule: "{{ lookup('env', 'SWARM_TRAEFIK_RULE') | mandatory }}"
        env:
          NODE_ENV: "{{ lookup('env', 'NODE_ENV') | mandatory }}"
          TIME_ZONE: "{{ lookup('env', 'TIME_ZONE') | mandatory }}"

          WHITELIST_URL: "{{ lookup('env', 'WHITELIST_URL') | mandatory }}"
          PORT: "{{ lookup('env', 'PORT') | mandatory }}"

          DB_HOST: "{{ lookup('env', 'DB_HOST') | mandatory }}"
          DB_PORT: "{{ lookup('env', 'DB_PORT') | mandatory }}"
          DB_DATABASE: "{{ lookup('env', 'DB_DATABASE') | mandatory }}"
          DB_USERNAME: "{{ lookup('env', 'DB_USERNAME') | mandatory }}"
          DB_PASSWORD: "{{ lookup('env', 'DB_PASSWORD') | mandatory }}"
          
          JWT_SECRET: "{{ lookup('env', 'JWT_SECRET') | mandatory }}"
          JWT_REFRESH: "{{ lookup('env', 'JWT_REFRESH') | mandatory }}"
          JWT_EXPIRES_IN: "{{ lookup('env', 'JWT_EXPIRES_IN') | mandatory }}"
          JWT_REFRESH_EXPIRES_IN: "{{ lookup('env', 'JWT_REFRESH_EXPIRES_IN') | mandatory }}"

          MAILER_EMAIL: "{{ lookup('env', 'MAILER_EMAIL') | mandatory }}"
          MAILER_PASSWORD: "{{ lookup('env', 'MAILER_PASSWORD') | mandatory }}"
          MAILER_HOST: "{{ lookup('env', 'MAILER_HOST') | mandatory }}"
          MAILER_PORT: "{{ lookup('env', 'MAILER_PORT') | mandatory }}"
